.testimonial {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  height: 136px;
  user-select: none;
  flex-shrink: 0;

  border-radius: 12px;
  background: var(--White, #fff);

  /* ShadowDropdown */
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.04),
    0px 4px 10px 0px rgba(0, 0, 0, 0.04);
}

.testimonial-content {
  color: var(--text-5, #1d2129);

  /* Body */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
}

.testimonial-header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.testimonial-header h3 {
  color: var(--grey-900, #19191a);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 19.2px */
}

.testimonial-header h4 {
  color: var(--grey-400, #96979a);

  /* Caption */
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 15.6px */
}

.testimonial:first-child,
.testimonial:last-child {
  opacity: 0;
}
